.root {
    -fx-background-color: #000000;
}

.button {
    -fx-background-color: #38A700;
    -fx-text-fill: #000000;
}

.text-input {
    -fx-background-color: #38A700;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #000000;
}

.label {
    -fx-text-fill: #38A700;
    -fx-prompt-text-fill: #000000;
}

.table-view {
    -fx-background-color: #212D40;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-text-fill: #38A700;
}

.table-view .column-header {
    -fx-text-fill: #38A700;
    -fx-background-color: #212D40;
    -fx-border-color: #38A700;
    -fx-border-width: 0 0 0 0;
}


.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #4CAF50;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #4CAF50;
}


.table-view .table-cell {
    -fx-text-fill: #38A700;
    -fx-background-color: #212D40;
    -fx-border-color: #38A700;
    -fx-border-width: 0 0 0 0;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: #212D40;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #38A700;
}

.table-view .scroll-bar:vertical .track {
    -fx-background-color: #212D40;
}

.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: #212D40;
    -fx-shape: "M4,0 L6,0 L5,3 Z";
}

.table-view .scroll-bar:horizontal {
    -fx-background-color: #212D40;
}

.table-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #38A700;
}

.table-view .scroll-bar:horizontal .track {
    -fx-background-color: #212D40;
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: #212D40;
    -fx-shape: "M4,0 L6,0 L5,3 Z";
}

.list-view {
    -fx-background-color: #212D40;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}

.slider {
    -fx-background-color: #212D40;
}

.slider .thumb {
    -fx-background-color: #38A700;
}

.slider .track {
    -fx-background-color: #38A700;
}

.toggle-button {
    -fx-background-color: #38A700;
    -fx-text-fill: #000000;
}
